html{
  scroll-behaviour: smooth;
  overscroll-behavior: none;
}
#over{
    background: rgb(228, 227, 227, 50%);
    width: 425px;
    height: 425px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
    margin: auto auto;
    font-size: 1rem;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(to bottom left, #B2EBF2, #0D47A1); */
    /* background: linear-gradient(to bottom left, #E1BEE7, #4A148C); */
    /* background: linear-gradient(to bottom left, #C8E6C9, #1B5E20); */
    background: linear-gradient(to bottom left, #F8BBD0, #4bccdd, #4A148C);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* height: 100%; */
    width: 100%;
    color: white;
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgb(170, 170, 168);
}
#board{
    height: 30rem;
    width: 30rem;
    background-color: #EAEAEA;
    top: 5vmin;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto;
}
#name{
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
#score{
    border-top: 2px solid white;
    padding-top: 10px;
    width: 200px;
    margin: 10px;
    font-size: 1.5rem;
}
.description{
    font-size: 1rem;
    margin: 5vmin;
}
.tile{
    background-color: #CCCCCC;
    width: 7rem;
    height: 7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
}
#text{
    position: relative;
    margin-top: 50px;
    text-align: left;
}
#list{
    margin: 30px;
    text-align: left;
}
/* colors for cells */
.x2{
    background-color: #9AC1D4;
    color: #FFFFFF;
}
.x4{
    background-color: #B0D5B4;
    color: #FFFFFF;
}
.x8{
    background-color: #F1E5B6;
    color: #FFFFFF;
}
.x16{
    background-color: #F9C1A8;
    color: #FFFFFF;
}
.x32{
    background-color: #F29B9B;
    color: #FFFFFF;
}
.x64{
    background-color: #CBB5E3;
    color: #FFFFFF;
}
.x128{
    background-color: #F0B6D2;
    color: #FFFFFF;
}
.x256{
    background-color: #E5B0EA;
    color: #FFFFFF;
}
.x512{
    background-color: #A1E8D7;
    color: #FFFFFF;
}
.x1024{
    background-color: #F4A8A8;
    color: #FFFFFF;
}
.x2048{
    background-color: #EFDAB3;
    color: #FFFFFF;
}
